<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TestNG testing">

<test name="Rama">

<classes>
<class name="com.Concepts.TestNGAnnotations">
<class name="com.Concepts.TestNGAnnotationsExample2">
<class name="com.Concepts.TestNGAnnotationsExample3">
<class name="com.Concepts.TestNGAnnotationsExample4">
</classes>
</test>
</suite>